 .fakeItem{
   h2, h3, p {
    background-color: lightgrey;
    opacity: 0.5;
    height: 1em;
    margin-top: 10%;
    margin-left: 10%;
   
  }

  h2 {
    width: 35%;
  }

  h3 {
    width: 40%;
  }  

  p {
    width: 60%;
  }
    opacity: 0.5;
    height: 15em;
    margin-top: 10px;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px; 
  display: inline-block;
  position: relative; 
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;}
/* animation */

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}

 